@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}
<div class="row">
        @if (!User.Identity.IsAuthenticated)
        {
            <!-- TODO make these look all official like... -->
            <div class="col-md-2">
                <a asp-action="LoginGitHub" asp-controller="Auth" class="btn btn-outline-primary">Log In with GitHub</a>
            </div>
            <div class="col-md-2">
                <a asp-action="LoginGoogle" asp-controller="Auth" class="btn btn-outline-primary btn-google">Log In with Google</a>
            </div>
            <div class="col-md-2">
                <a asp-action="LoginFacebook" asp-controller="Auth" class="btn btn-outline-primary btn-google">Log In with Facebook</a>
            </div>
            <div class="col-md-2">
                <a asp-action="LoginEpic" asp-controller="Auth" class="btn btn-outline-primary btn-google">Log In with Epic</a>
            </div>
        }
        else
        {
            <div id="accordion" class="container-fluid">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-repos" aria-expanded="true" aria-controls="collapse-repos">
                                User Information
                            </button>
                        </h5>
                    </div>
                    <div id="collapse-repos" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <ul>
                                <li>Authentication from: @Model.AuthenticationSource</li>
                                <li>User Public Email: @Model.UserPublicEmail</li>
                                <li>Claimed Email: @Model.ClaimedEmail</li>
                            </ul>
                            <ul>
                                @foreach (var email in Model.Emails)
                                {
                                    <li>
                                        @email
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>